<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>google vision </title>
    </head>
    <body>
        <form id ="form" enctype="multipart/form-data" method="POST">
            <input type="file" name="file">
            <input type="submit" value="Upload file" name = "submit">
        </form>
    </body>
</html>